<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="SQLServer" connectionString="data source=.\sql2014;initial catalog=DynamoTest;persist security info=True;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=Dynamo" providerName="System.Data.SqlClient"/>
    <add name="NuoDB" connectionString="Server=localhost;Database=DynamoTest;User=domain;Password=bird;Schema=dbo" providerName="NuoDb.Data.Client"/>
    <add name="SQLite" connectionString="data source=D:\SQLite\DB\DynamoTest.db;version=3;datetimeformat=ISO8601;max pool size=100;pooling=True" providerName="System.Data.SQLite"/>
    <add name="ArangoDB" connectionString ="Server=127.0.0.1;Port=8529;IsSecure=false;Database=DynamoTest;User=usr;Password=pwd" ></add>
  </connectionStrings>
</configuration>
