<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
        <add name="DBTest" connectionString="data source=www.gurustudioweb.it,60506;initial catalog=MFSErpOnline;persist security info=True;user id=sa;password=gswadmin.50605;MultipleActiveResultSets=True;App=Dynamo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
